{% extends "layout/base.html" %}
{% set title = "Subnet details" %}
{% block content %}
<main>
    <div class="px-2 py-3">Subnet {{ subnet.id }}</div>
    <div class="subnet-container d-flex justify-content-between align-items-center">
        <div class="input-group px-2 py-2" style="width: 400px;">
            <input type="search" class="form-control rounded" placeholder="Jump to" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">Go</button>
        </div>
        <td>
            <div class="my-2" style="margin-right: 4em;">
                <button type="button" class="btn btn-danger mx-4">DELETE</button>
                <button type="button" class="btn btn-dark">SAVE AND CONTINUE EDITING</button>
                <button type="button" class="btn btn-success ms-4" style="background: #287034;">SAVE</button>
            </div>
        </td>
    </div>
    <div class="table mx-2">
        <div class="d-flex flex-wrap ">
            {% for host in used_hosts %}
                <a href="{{ url_for('get_host_by_id', id=host.id) }}" class="btn btn-info mx-2 my-2"> {{ host.name }} - {{ host.ip }}</a>
            {% endfor %}
            <!--<a href="{{ url_for('create_host') }}?ip={{ host }}" class="btn btn-success mx-2 my-2">{{ host }}</a>-->
        </div>
    </div>
    <div>
        <p>
            Free address space: {{ free_space }}
        </p>
    </div>

</main>

{% endblock %}